$color-black: #000;
$color-white: #fff;
$color-text: #e9ecef;

$color-main-1: #d84f2a;
$color-main-2: #f9744b;

$color-gray-1: #212529;
$color-gray-2: #495057;
$color-gray-3: #868e96;

$ff-roboto: "Roboto", sans-serif;
$ff-mserrat: "Montserrat", sans-serif;

// transition: 0.4s cubic-bezier(0.83, 0, 0.17, 1);

/* 
FONT-SIZES
95.37px
76.29px
61px
48.83px
39.06px
31.25px
25.00px
20.00px
16.00px
12.80px
10.24px
8.19px
*/

* {
  padding: 0;
  margin: 0;
  line-height: 1;
}

html {
  font-size: 62.5%;
  font-family: $ff-roboto;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: $color-gray-1;

  color: $color-text;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.editor {
  color: $color-text;
  .ProseMirror {
    outline: none;
    min-height: 30vh;
    overflow-wrap: anywhere;
    border: 1px solid rgba($color-black, 0.2);
    border-radius: 2px;
    padding: 1.6rem;
    font-family: $ff-roboto;
    font-size: 2rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: $ff-mserrat;
      line-height: 1.1;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
  }
}

.error {
  color: orangered;
  font-weight: 500;
}

//PROSE MIRROR extensions
.E-bulletList,
ol {
  padding: 0 2rem;
}

.E-codeBlock {
  background-color: $color-gray-1;
  border-radius: 6px;
  color: $color-text;
  padding: 1rem;
  code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 1.4rem;
  }
}

.E-paragraph {
  margin: 1rem 0;
  line-height: 1.3;
}

.E-underline {
}

.E-listItem {
}

.E-image {
}
